.banner {
      color: white;
    text-align: center;
    height: 30vh;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
}