.content-skills {
    margin: 0 auto;
    margin-top: 15px;
    padding:15px;
    border: none;
    background-color: #003459;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}
.skill {
    color:#FFF;
}

.content-projects {
    margin: 0 auto;
    margin-top: 15px;
    padding:15px;
    border: none;
    background-color: #567BA5;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}
    
.content-me {
    margin: 0 auto;
    margin-top: 15px;
    padding:15px;
    border: none;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}    
.content-pp {
    margin: 0 auto;
    margin-top: 45px;
    padding:15px;
    border: none;
    background-color: #faf9f5;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    border-radius: 5px; 
}

.content-pad {
    padding:50px;
}

#content_2, #content_3 { display:none; }

.content ul {
    margin:0px;
    padding:0px 20px 0px 20px;
}
.content ul li {
    list-style:none;
    text-align: left;
    // padding-top:15px;
    // padding-bottom:15px;
    font-size:14px;
}
.content ul li a {
    text-decoration:none;
    color:#3e4346;
}
.content ul li a small {
    color:#8b959c;
    font-size:9px;
    text-transform:uppercase;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    position:relative;
    left:4px;
    top:0px;
}

.content ul li:last-child {
    border-bottom:none;
}

.content h3 {
    text-align: left;
}



.skill {
  padding: 0 40px 0 40px;
}

.skill ul {
  padding-left: 20px;
}