.media {
  display: flex;
}
.media-body {
  flex: 1 1 auto;
  padding: 20px;
}
.media-body img {
  width: 100%;
}
.media-aside {
  flex: 0 0 400px;
  padding: 30px;
  align-self: stretch;
  background: #F8F7F7;
  border-left: 1px solid #f0efef;
}
.media-section {
  margin: 40px auto;
}
.media-section:first-child {
  margin-top: 0;
}
.media-section:last-child {
  margin-bottom: 0;
}

.project-tom-link {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  height: 30px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}