---
title: Tom Stemerding - Online Portfolio
---

<div class="welcome text-center padded">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('images/webdev.jpg'); ">
</div>

  <div class="content-me">
    <div class="container">
      <div class="profile-header-infos">
        <img src="https://avatars3.githubusercontent.com/u/7031316?v=3&s=460" alt="" width="200" class="img-circle">
        <h1>Tom Stemerding</h1>
        <h2>Full stack developer</h2>
      </div>
    </div>
  </div>

  <div id="skills" class="container content-pad">
    <h2>Skills</h2>
  </div>

  <div class="content-skills">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="skill">
            <h3>Front-end</h3>
            <ul class="list-unstyled">
              <li><img src="images/html5.svg" width="25">HTML5 & <img src="images/css3.svg" width="25">CSS3</li>
              <li><img src="images/javascript_1.svg" width="25">JavaScript, <img src="images/jquery_logo.svg" width="25">jQuery & <img src="images/react.svg" width="25">React.js</li>
              <li><img src="images/bootstrap.svg" width="25">Bootstrap</li>
              <li>Advanced CSS techniques (flexbox, web components, grid, animations,…)</li>
              <li>UX/UI best practices</li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="skill">
            <h3>Back-end</h3>
            <ul class="list-unstyled">
              <li><img src="images/ruby_rough.svg" width="25">Ruby</li>
              <li><img src="images/ror.svg" width="25">Ruby on Rails</li>
              <li>SQL</li>
              <li><img src="images/postgresql.svg" width="25">PostgreSQL</li>
              <li>APIs & web services</li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="skill">
            <h3>Tools</h3>
            <ul class="list-unstyled">
              <li><img src="images/terminal_badge.svg" width="25">Command lines</li>
              <li><img src="images/sublime.svg" width="25">Sublime Text</li>
              <li><img src="images/git.svg" width="25">Git</li>
              <li><img src="images/github_badge.svg" width="25">GitHub</li>
              <li>Sketch</li>
              <li><img src="images/heroku.svg" width="25">Heroku</li>
              <li>Amazon S3</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container content-pad">
    <h2>Projects</h2>
  </div>

  <div id="projects" class="content-projects">
    <div class="container">
      <div class="row">
        <% data.projects.each do |owner, project| %>
          <div class="view view-first">
            <div class="col-xs-12 col-sm-4"> 
              <%= image_tag project.lpicture %>
              <div class="mask">
                <h2><%= project.project_name %></h2>
                <p><%= project.summary %></p>
                <%= link_to "Go to project", "#{owner}.html", class: "info" %>
              </div>
            </div>
          </div>  
        <% end %>
      </div>
    </div>
  </div>