---
title: Tom Stemerding - Online Portfolio
---
<div class="content container">
  <div class="row">
    <% data.projects.each do |owner, project| %>
      <div class="col-xs-12 col-sm-4"> 
        <div class="card" style="background:url(<%= project.lpicture %>)">
          <div class="card-category">
            <h3><%= link_to project.project_name, "#{owner}.html", class: "project-tom-link" %></h3>
          </div>
          <div class="card-description">
            <p><%= project.summary %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
